img{
    width: 560px;
}

mat-card{
  padding: 40px;
  border-radius: 5px;
  box-shadow: none;
}

.box{
  background-color: #e8e6e6;
 // background-image: url('../../../assets/chat-bk.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  text-align:center;
  font-family: Apple Chancery, cursive;
  font-weight: 800;
}
a{
    color: darkblue;
    font-weight: 500;
  }