<div >
    <h1 mat-dialog-title> Déconnecter </h1>
    <mat-dialog-content> <h3> Vous étes Sur de Quitter  Projet D'integration ?!  </h3> </mat-dialog-content>
    <mat-dialog-actions fxLayoutAlign="center center" fxLayoutGap="10px">
        <button mat-button color="primary" mat-dialog-close mat-dialog-close="true" [routerLink]="['/Acceuil']" routerLinkActive="router-link-active" > Rester </button>
        <button mat-button color="warn" mat-dialog-close mat-dialog-close="false" [routerLink]="['/Login']" routerLinkActive="router-link-active" > Déconnecter </button>
    </mat-dialog-actions>
</div>